@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <div class="row">
        <div class="col-md-4" style="vertical-align:middle">
            <img src="~/img/hipets.png" width="675" height="450" class="img-circle img-responsive" />
        </div>
    
        <div class="col-md-8">
            <h1>HI PETS!</h1>
            <p class="lead">Actualmente en nuestra ciudad la población de animales domésticos en situación de calle es elevada, ya sea abandonados o bajo una tenencia irresponsable de sus dueños. Estos constituyen un problema de seguridad y salud.</p>
            <p class="lead">Para ello Hi Pets! propone facilitar la comunicación y la coordinación de esfuerzos de personas independientes o miembros de alguna ONG para brindar protección y ayuda a animales en situación de riesgo.</p>
        </div>
    </div>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/img/412_79226_6081087_546761.jpg" class="img-responsive img-rounded" width="450" height="334" />
    </div>
    
    <div class="col-md-4">
        <p class="lead"></p>
    </div>

    

    <div class="col-md-4">
        <img src="~/img/perro-jugando-con-pompas-de-jabon.jpg" class="img-responsive img-rounded" width="450" height="334" />
    </div>
</div>